extends ../../layouts/layout-main/layout-main

block content
	include ../../layouts/headers/header/header
	section.about
		h2.about__title
			span.about__title-decore
			span.about__title-text ПРО НАС
			span.about__title-decore
		.about__container
			p.about__text «Ліга сміху» (Чемпіонат України з гумору) – телевізійний гумористичний проект створений у 2015 році студією «Квартал 95» і компанією Drive Production. Ведучий шоу – Володимир Зеленський
				| Редактори шоу – Андрій Чивуріна і Чингіз Мазінов «Ліга сміху» – міжнародний чемпіонат гумору, який об’єднує всю країну. У чемпіонаті беруть участь молодіжні команди зі всієї України, а також з інших країн. Вони змагаються в майстерності розсмішити публіку і журі за всяку ціну. У цій битві всі засоби хороші, окрім нудних і несмішних: дотепні та актуальні жарти, забавні скетчі, буфонада, розіграші та пародії.
		.about__content
			p.about__content-text Сезон гри триває протягом року на вибування, нічия у грі виключена, будь-який спір вирішує батл. Починають сезон 14 команд, у фіналі зустрічаються дві. Судійство здійснюють сім зірок шоу-бізнесу. Вони ж виконують роль граючих тренерів.
				| Сезон стартує з відбіркового Фестивалю в Одесі.
				| Кількість учасників – не обмежена.
		.about__container
			.about__popup
				.about__popup-title ЗВ’ЯЗАТИСЬ
				.about__button.about__button_phone дзвінок
				.about__button.about__button_email e-mail
	section.leading
		h2.leading__title ВЕДУЧІ
		.leading__container.container
			.leading__content
				include ../../components/sliders/slider_leading/slider_leading
				a.button.button__secondary.button__block.leading__more(href='#') УСІ ВЕДУЧІ
	include ../../layouts/footers/footer/footer