.about {
  padding: 81px 0 75px;
  background-image: url('../images/about-bg.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;

  @media screen and (max-width: 1600px) {
    padding: 50px 0 40px;
    background-position: center center;
    background-size: cover;
  }

  @media screen and (max-width: 992px) {
    background-position: -240px center;
  }

  @media screen and (max-width: 768px) {
    padding: 30px 0;
  }

  .about__content {
    position: relative;
    z-index: 2;
    width: 69%;
    margin-left: auto;

    &:after {
      content: 'EVENT';
      position: absolute;
      right: 12px;
      bottom: -100px;
      z-index: -1;

      color: #ebebeb;
      font-size: 200px;
      line-height: 200px;
      letter-spacing: 0.075em;
    }

    @media screen and (max-width: 1600px) {
      width: 70%;
    }

    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }

  .about__content-text {
    position: relative;
    padding: 40px 38.4% 35px 55px;
    box-shadow: -3.756px 7.064px 38px 0px rgba(4, 5, 5, 0.96);
    color: #131725;
    font-size: 20.83px;
    line-height: 25px;
    font-family: 'MyRoboto';
    font-weight: 600;
    text-align: right;

    @media screen and (max-width: 1600px) {
      padding: 40px 50px;
    }

    @media screen and (max-width: 768px) {
      padding: 15px;
      font-size: 18px;
      line-height: 20px;
    }
  }

  .about__container {
    max-width: 930px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      padding: 0 15px;
    }
  }

  .about__popup {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 360px;
    padding: 60px 50px;
    margin-left: auto;
    margin-top: 55px;
    background-color: $color-accent;
    box-shadow: 10.404px 9.368px 21px 0px rgba(4, 5, 5, 0.66);

    @media screen and (max-width: 1600px) {
      padding: 50px;
    }

    @media screen and (max-width: 992px) {
      margin: 30px auto 0;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 360px;
    }

    @media screen and (max-width: 480px) {
      padding: 30px;
    }
  }
  .about__title {
    display: flex;
    margin-bottom: 34px;

    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  .about__title-text {
    padding: 0 50px;
    font-size: 25px;
    font-family: 'MyRoboto';
    font-weight: 600;
    text-transform: uppercase;
  }

  .about__title-decore {
    flex-grow: 1;

    &:last-child {
      background-color: rgb(31, 35, 46);
      opacity: 0.102;
    }
  }

  .about__text {
    color: $color-text;
    font-size: 16.67px;
    line-height: 25px;
    font-family: 'MyRoboto';
    font-weight: 300;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  .about__popup-title {
    margin-bottom: 45px;
    color: #ffffff;
    font-size: 29px;
    font-family: 'MyRoboto';
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (max-width: 1600px) {
      margin-bottom: 35px;
    }
  }

  .about__button {
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding-left: 120px;
    margin-bottom: 20px;
    background-color: $color-secondary;
    color: #ffffff;
    font-size: 21px;
    line-height: 85px;
    font-family: 'MyRoboto';
    font-weight: 300;
    text-align: left;
    text-transform: lowercase;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 45px;
      bottom: 0;
      margin: auto;
    }

    @media screen and (max-width: 1600px) {
      line-height: 75px;
    }
  }

  .about__button_phone {
    &:before {
      @include bg($call-icon);
    }
  }
  
  .about__button_email {
    padding-left: 130px;
    background-color: #600e02;

    &:before {
      @include bg($mail-icon);
    }
  }
}