.photos
	.photos__list.imglist
		a.photos__item(data-fancybox="images" href='https://source.unsplash.com/juHayWuaaoQ/1500x1000')
			img.photos__img(src='images/photos1.png')
		a.photos__item(data-fancybox="images" href='https://source.unsplash.com/juHayWuaaoQ/1500x1000')
			img.photos__img(src='images/photos1.png')
		a.photos__item(data-fancybox="images" href='https://source.unsplash.com/juHayWuaaoQ/1500x1000')
			img.photos__img(src='images/photos1.png')
		a.photos__item(data-fancybox="images" href='https://source.unsplash.com/juHayWuaaoQ/1500x1000')
			img.photos__img(src='images/photos1.png')