header.header.header_main
	.header__container.container
		.header__top
			.header__logo-wrap
				img.header__logo(src='images/logo.png' alt='Лого лика смеха')
			.header__text-logo
				h1.header__title ЛІГА СМІХУ <strong>EVENT</strong>
				h2.header__subtitle Замов улюблену команду на свій захід
			.header__nav
				include ../../../components/navs/nav_main/nav_main
		.header__content
			.header__slider
				include ../../../components/sliders/slider_main/slider_main
			.header__more
				a.button.button__accent.button__padding.header__more-btn(href="#") УСІ КОМАНДИ
			.header__info-lang
				.header__languages
					include ../../../components/others/languages/languages
				.header__contacts
					.info-contact.info-contact_header
						a.info-contact__phone(href='tel:380938875422') ﻿+38 (093) 887 54 22
						a.info-contact__email(href="mailto:event@ligasmeha.com") event@ligasmeha.com
	.header__decor