.modal {
  max-width: 860px;
  padding: 50px;
  margin: 0 auto;
  color: #ffffff;

  .modal__container {
    position: relative;
  }

  .modal__title {
    margin-bottom: 32px;
    text-align: center;
    font-size: 25px;
    font-family: 'MyRoboto';
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (max-width: 992px) {
      font-size: 20px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 480px) {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  .modal__close {
    position: absolute;
    right: -45px;
    top: -45px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    @include bg($modal-x);

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  @media screen and (max-width: 992px) {
    padding: 30px;
  }

  @media screen and (max-width: 480px) {
    padding: 30px 10px;
  }

  .mfp-close {
    display: none;

    @media screen and (max-width: 992px) {
      display: block;
      color: #ffffff;
      font-size: 45px;
    }
  }
}