.socials
	ul.socials__list
		li.socials__item
			a.socials__link
				i.fa.fa-facebook(aria-hidden="true")
		li.socials__item
			a.socials__link
				i.fa.fa-envelope(aria-hidden="true")
		li.socials__item
			a.socials__link
				i.fa.fa-instagram(aria-hidden="true")