$call-icon: 125px 0px -125px 0px 64px 67px 299px 227px '../images/sprites/sprite.png';
$icon-play: 0px 0px 0px 0px 100px 100px 299px 227px '../images/sprites/sprite.png';
$leading-arrow-next: 214px 61px -214px -61px 20px 57px 299px 227px '../images/sprites/sprite.png';
$leading-arrow-prev: 214px 143px -214px -143px 20px 57px 299px 227px '../images/sprites/sprite.png';
$mail-icon: 120px 125px -120px -125px 66px 54px 299px 227px '../images/sprites/sprite.png';
$main-arrow-next: 0px 125px 0px -125px 35px 102px 299px 227px '../images/sprites/sprite.png';
$main-arrow-prev: 60px 125px -60px -125px 35px 102px 299px 227px '../images/sprites/sprite.png';
$modal-x: 214px 0px -214px 0px 36px 36px 299px 227px '../images/sprites/sprite.png';
$moon: 275px 0px -275px 0px 24px 24px 299px 227px '../images/sprites/sprite.png';

@mixin sprite-position($sprite) {
$sprite-offset-x: nth($sprite, 3);
$sprite-offset-y: nth($sprite, 4);
background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
$sprite-image: nth($sprite, 9);
background-image: url($sprite-image);
}

@mixin sprite-mixin-template($sprite) {
@include sprite-image($sprite);
@include sprite-position($sprite);
width: nth($sprite, 5);
height: nth($sprite, 6);
}

@mixin bg($sprite, $repeat: no-repeat) {
@include sprite-mixin-template($sprite);
$sprite-total-width: nth($sprite, 7);
$sprite-total-height: nth($sprite, 8);
background-size: $sprite-total-width, $sprite-total-height;
background-repeat: $repeat;



}
