$call-icon: 0px 0px 0px 0px 64px 67px 260px 194px '../images/sprites/sprite.png';
$leading-arrow-next: 89px 127px -89px -127px 20px 57px 260px 194px '../images/sprites/sprite.png';
$leading-arrow-prev: 240px 0px -240px 0px 20px 57px 260px 194px '../images/sprites/sprite.png';
$mail-icon: 149px 0px -149px 0px 66px 54px 260px 194px '../images/sprites/sprite.png';
$main-arrow-next: 0px 92px 0px -92px 35px 102px 260px 194px '../images/sprites/sprite.png';
$main-arrow-prev: 89px 0px -89px 0px 35px 102px 260px 194px '../images/sprites/sprite.png';
$modal-x: 149px 79px -149px -79px 36px 36px 260px 194px '../images/sprites/sprite.png';
$moon: 149px 140px -149px -140px 24px 24px 260px 194px '../images/sprites/sprite.png';

@mixin sprite-position($sprite) {
$sprite-offset-x: nth($sprite, 3);
$sprite-offset-y: nth($sprite, 4);
background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
$sprite-image: nth($sprite, 9);
background-image: url($sprite-image);
}

@mixin sprite-mixin-template($sprite) {
@include sprite-image($sprite);
@include sprite-position($sprite);
width: nth($sprite, 5);
height: nth($sprite, 6);
}

@mixin bg($sprite, $repeat: no-repeat) {
@include sprite-mixin-template($sprite);
$sprite-total-width: nth($sprite, 7);
$sprite-total-height: nth($sprite, 8);
background-size: $sprite-total-width, $sprite-total-height;
background-repeat: $repeat;



}
