header.header.header_other
	.header__container.container
		.header__top
			.header__logo-wrap
				img.custom-logo(src='images/logo.png' alt='Лого лика смеха')
			.header__text-logo
				h1.header__title ЛІГА СМІХУ <strong>EVENT</strong>
				h2.header__subtitle Замов улюблену команду на свій захід
			.header__nav
				i.header__toggle.fa.fa-bars
				include ../../../components/navs/nav_main/nav_main
		.header__content
			.header__info-lang
				.header__languages
					include ../../../components/others/languages/languages
				.header__contacts
					.info-contact.info-contact_header
						a.info-contact__phone(href='tel:380938875422') ﻿+38 (093) 887 54 22
						a.info-contact__email(href="mailto:event@ligasmeha.com") event@ligasmeha.com