.form.form_phone
	.form__row
		.form__field
			label.form__label Ім’я
			input.form__input(type='text')
	.form__row
		.form__field
			label.form__label Номер телефону
			input.form__input(type='text' placeholder='+38 (0')
	.form__row
		input.button.button__accent.form__btn(type='submit' value='ЗАМОВИТИ')