.slider.slider_leading
	.swiper-container.slider__container
		.swiper-wrapper.slider__list
			.swiper-slide.slider__item
				.slider__img-wrap
					img.slider__img(src='images/slider-leading.png')
				.slider__title Антон ЛІРНИК
			.swiper-slide.slider__item
				.slider__img-wrap
					img.slider__img(src='images/slider-leading.png')
				.slider__title Антон ЛІРНИК 2
			.swiper-slide.slider__item
				.slider__img-wrap
					img.slider__img(src='images/slider-leading.png')
				.slider__title Антон ЛІРНИК 3
			.swiper-slide.slider__item
				.slider__img-wrap
					img.slider__img(src='images/slider-leading.png')
				.slider__title Антон ЛІРНИК
			.swiper-slide.slider__item
				.slider__img-wrap
					img.slider__img(src='images/slider-leading.png')
				.slider__title Антон ЛІРНИК 2
			.swiper-slide.slider__item
				.slider__img-wrap
					img.slider__img(src='images/slider-leading.png')
				.slider__title Антон ЛІРНИК 3
		.slider__btn.slider__btn_prev
		.slider__btn.slider__btn_next