.slider.slider_leading {

  .slider__img {
    display: block;
    min-width: 100%;
    width: 100%;
    object-fit: cover;
  }

  .slider__title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #510c02;
    color: #ffffff;
    font-size: 33.33px;
    font-family: 'MyRoboto';
    font-weight: 300;
    text-align: center;
    overflow: hidden;

    @media screen and (max-width: 1600px) {
      height: 90px;
    }

    @media screen and (max-width: 768px) {
      font-size: 26px;
    }
  }

  .slider__list {
    padding: 50px 0;
  }

  .slider__item {
    max-width: 500px;
    position: relative;
    transition: all .3s ease-in-out;
    &.swiper-slide-prev, &.swiper-slide-next {
      opacity:0.5;
      background-color: #000;
    }

    &.swiper-slide-active {
      z-index: 1;
      transform: scale(1.2);

      .slider__title {
        display: flex;
      }
    }
  }

  .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 2;
    display: inline-block;
    width: 20px;
    height: 57px;
    margin-top: -28px;
    cursor: pointer;
  }

  .slider__btn_prev {
    left: 13px;
    @include bg($leading-arrow-prev);
    background-repeat: no-repeat;
  }

  .slider__btn_next {
    right: 13px;
    @include bg($leading-arrow-next);
    background-repeat: no-repeat;
  }

}