@font-face {
  font-family: "MyRoboto";
  src : url("../fonts/Roboto-Bold.woff"), url("../fonts/Roboto-Bold.woff");
  font-weight: 600;
}

@font-face {
  font-family: "MyRoboto";
  src : url("../fonts/Roboto-Light.woff"), url("../fonts/Roboto-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "MyRoboto";
  src : url("../fonts/Roboto-LightItalic.woff"), url("../fonts/Roboto-LightItalic.woff");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "MyRoboto";
  src : url("../fonts/Roboto-Regular.woff"), url("../fonts/Roboto-Regular.woff");
  font-weight: 400;
}