.team-inner
	h1.team-inner__title «ВІННИЦЬКІ»,
		span.team-inner__town Вінниця
	.team-inner__container
		.team-inner__row.team-inner__row_1
			.team-inner__wrap-img
				img.team-inner__img(src='images/team-inner1.png')
		.team-inner__row.team-inner__row_2
			ul.team-inner__list
				li.team-inner__item <strong>Історія назви:</strong> «Кістяк команди – учасники «Вінницьких перців», але в цьому проекті ми вирішили оновити назву, тому одне слово скоротили»
				li.team-inner__item <strong>Як і коли народилася команда:</strong> «Після перегляду двох сезонів «Ліги сміху» по телевізору ми вирішили зібратися ось таким складом, тобто на початку 2017го»
				li.team-inner__item <strong>Особливість / фішка:</strong> «Ми доросла команда і жартуємо на дорослі теми»
				li.team-inner__item <strong>Наші костюми:</strong> «Створила дружина одного з учасників команди, дизайнер Світлана Теренчук, і якщо придивитися, то на футболках хлопців – панорамний малюнок Вінниці»
				li.team-inner__item <strong>Всього в команді:</strong> «Стабільно чотири людини на сцені – це Діма, Саша, Іра і Вася. Є учасники, які приходять і йдуть».
				li.team-inner__item <strong>Наш капітан:</strong> Дмитро Голубєв
	.team-inner__order
		.button.button__secondary.button_order ЗАМОВИТИ
