.videos {

  .videos__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
      justify-content: space-around;
    }
  }

  .videos__item {
    width: calc((100% - 45px) / 4);
    box-shadow: 6.688px 6.022px 21px rgba(4, 5, 5, 0.69);
    margin-bottom: 30px;


    @media screen and (max-width: 1200px){
      width: calc((100% - 30px) / 3);
    }

    @media screen and (max-width: 768px){
      width: calc((100% - 15px) / 2);
      margin-bottom: 45px;
    }

    @media screen and (max-width: 480px){
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .videos__img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}