.videos
	.videos__list.imglist
		a.videos__item(data-fancybox="videos" href='href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"')
			img.videos__img(src='images/photos1.png')
		a.videos__item(data-fancybox="videos" href='href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"')
			img.videos__img(src='images/photos1.png')
		a.videos__item(data-fancybox="videos" href='href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"')
			img.videos__img(src='images/photos1.png')
		a.videos__item(data-fancybox="videos" href='href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"')
			img.videos__img(src='images/photos1.png')