.swiper-container.slider.slider_main
	.swiper-wrapper
		.swiper-slide.slider__list
			.slider__item
				.slider__img-wrap
					img.slider__img(src='images/slider-main1.png' alt='команда Виннецкие')
				.slider__content
					h2.slider__title «ВІННИЦЬКІ»
					h3.sldier__discription Ми доросла команда і жартуємо на дорослі теми
						| Стабільно чотири людини на сцені – це Діма, Саша, Іра і Вася. Є учасники, які приходять і йдуть