.leading-inner
	h1.leading-inner__title Антон ЛІРНИК
	.leading-inner__container
		.leading-inner__row.leading-inner__row_1
			.leading-inner__wrap-img
				img.leading-inner__img(src='images/leading-inner.png')
		.leading-inner__row.leading-inner__row_2
			ul.leading-inner__list
				li.leading-inner__item <strong>Історія назви:</strong> «Кістяк команди – учасники «Вінницьких перців», але в цьому проекті ми вирішили оновити назву, тому одне слово скоротили»
				li.leading-inner__item <strong>Як і коли народилася команда:</strong> «Після перегляду двох сезонів «Ліги сміху» по телевізору ми вирішили зібратися ось таким складом, тобто на початку 2017го»
				li.leading-inner__item <strong>Особливість / фішка:</strong> «Ми доросла команда і жартуємо на дорослі теми»
				li.leading-inner__item <strong>Наші костюми:</strong> «Створила дружина одного з учасників команди, дизайнер Світлана Теренчук, і якщо придивитися, то на футболках хлопців – панорамний малюнок Вінниці»
				li.leading-inner__item <strong>Всього в команді:</strong> «Стабільно чотири людини на сцені – це Діма, Саша, Іра і Вася. Є учасники, які приходять і йдуть».
				li.leading-inner__item <strong>Наш капітан:</strong> Дмитро Голубєв
	.leading-inner__order
		.button.button__secondary.button_order ЗАМОВИТИ
