nav.nav.nav_main
	ul.nav__list
		li.nav__item
			a.nav__link(href="#") ГОЛОВНА
		li.nav__item
			a.nav__link(href="#") КОМАНДИ
		li.nav__item
			a.nav__link(href="#") ВЕДУЧІ
		li.nav__item
			a.nav__link(href="#") КОНТАКТИ