nav.nav.nav_main
	i.nav__close.fa.fa-times
	ul.nav__list
		li.nav__item
			a.nav__link(href="#") ГОЛОВНА
		li.nav__item
			a.nav__link(href="#") КОМАНДИ
		li.nav__item
			a.nav__link(href="#") ВЕДУЧІ
		li.nav__item
			a.nav__link(href="#") КОНТАКТИ
	.nav__languages
		include ../../../components/others/languages/languages
	.info-contact.info-contact_nav
		a.info-contact__phone(href='tel:380938875422') ﻿+38 (093) 887 54 22
		a.info-contact__email(href="mailto:event@ligasmeha.com") event@ligasmeha.com