.modal.modal_phone#modal-phone.mfp-hide
	.modal__container
		.modal__close.js-close-modal
		header.modal__header
			a.modal__link(href='tel:380938875422') +38 (093) 887 54 22
			.modal__text або
			.modal__title ЗАМОВТЕ ДЗВІНОК
		.modal__content
			include ../../forms/form_phone/form_phone