.form.form_email
	.form__row
		.form__field
			label.form__label Ім’я
			input.form__input(type='text')
	.form__row
		.form__field
			label.form__label E-mail
			input.form__input(type='text')
	.form__row
		.form__field
			label.form__label Повідомлення
			textarea.form__textarea
	.form__row
		input.button.button__accent.form__btn(type='submit' value='НАДІСЛАТИ')